<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>智慧工程</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../css/bootstrap.min.css" />
		<link rel="stylesheet" href="../css/index.css" />
		<script type="text/javascript" src="../js/jquery-1.11.0.min.js"></script>
		<script type="text/javascript" src="../js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../js/index.js"></script>
	</head>

	<body>

		<!--导航条start-->
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> 
						<span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index.html"><img class="brandImg" src="../img/brand.png" alt="Brand"></a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
					<ul class="nav navbar-nav ">
						<li class="active">
							<a href="index.html">首页</a>
						</li>
						<li>
							<a href="">智慧建筑</a>
						</li>
						<li>
							<a  href="">人工智能</a>
						</li>
						<li>
							<a href="">联系我们</a>
						</li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
		<!--导航条end-->

		<div class="jumbotron screen">

			<div class="container">
				<!--大幕-->
				<div class="page-header col-md-6 col-sm-12 col-xs-12 text-center">
					<h1 class="title">智慧，城市</h1>
					<h1><small>${slogan}</small></h1>
				</div>

			</div>
		</div>
		<!--页脚-->

		<div class="container">
			<!--导航条-->
			<div class="row">
				<div class="center-block row_div" >
					<img alt="Brand" class="brandImg" src="../img/brand1.png">
					<font class="row_font" >中土智能科技</font>
				</div>
			</div>
			<!--导航条-end-->
		</div>
	</body>

</html>